@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions
@using React.Web.Mvc
@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
    var tenantName = Html.CurrentTenant().Name.ToLower();

}

@section Styles {
    @Html.AssetCss("listings-page--" + tenantName)
}


@section TopScripts {
    @Html.AssetJs("listings-page--" + tenantName, LoadType.Defer)
}


<div class="container">
    
    @* AddDataToStore is a special component for when we just want to pass data to a reducer that is shared across components *@
    @Html.React("global.Components.AddDataToStore", new {
        reducerKey = "iNav",
        reducerName = "iNavParentReducerPassInitData"
    }, serverOnly: true)

    @Html.React("global.Components.INavBreadCrumbs", new {}, containerId: "iNavBreadcrumbs")

    @Html.React("global.Components.INav", new {}, containerId: "iNav")
</div>


@section BottomScripts
{
    @{
        // We put this here to guaretee that all compoents that effect the store should be run beforehand
        Html.RenderPartial("Partials/Redux/_ReduxStore");
    }    
}
