@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.ContentSection


@if (Model.Image.Type == "Wide")
{
    <div class="container-fluid">
        <div class="article__img-frame article__img-frame--wide">
            <img class="article__img article__img--wide"
                 sizes="(max-width: 1199px) 1600px, 1920px"
                 src="@Model.Image.Url"
                 srcset="@Model.Image.Url?width=1600&height=1060 1600w, @Model.Image.Url?width=1920&height=1280 1920w"
                 alt="@Model.Image.AlternateText" />
        </div>
    </div>
}
else
{
    // Single Image
    <div class="container">
        <div>
            <img class="article__img"
                 sizes="(max-width: 1199px) 825px, 1024px"
                 src="@Model.Image.Url?width=1024&height=682"
                 srcset="@Model.Image.Url?width=825&height=550 825w, @Model.Image.Url?width=1024&height=682 1024w"
                 alt="@Model.Image.AlternateText" />

            @if (Model.Image.Caption != null)
            {
                <div class="article__img-caption">@Model.Image.Caption</div>
            }
        </div>
    </div>
}


