@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="article col-sm-8">
    <div>
        <div class="cf pos-r">
            <div class="article__dateAndTypeContainer">
                <div class="article__type article__type--@Model.ArticleType.ToLower()">@Model.ArticleType</div>
                <div class="article__date">@Model.DateAvailable</div>
            </div>

            <div class="article__share">
                @{Html.RenderPartial("Partials/_SocialMediaLinks", Model.SocialMetaData);}
            </div>
        </div>

        <header>
            <h1 class="article__heading">@Model.Headline</h1>
            @{Html.RenderPartial("Partials/ContentSections/_Pricing", Model);}
            <h2 class="article__subheading">@Model.SubHeading</h2>
        </header>
        <div class="article__summary">@Model.Summary</div>
        @{ Html.RenderPartial("Partials/_ArticleBody", Model); }
        @{ Html.RenderPartial("Partials/_Contributors", Model); }
        @{ Html.RenderPartial("Partials/MediaMotive/_Tile15", Model.MediaMotiveData); }
        @{ Html.RenderPartial("Partials/_Disqus", Model.DisqusData); }
        @{ Html.RenderPartial("Partials/MediaMotive/_Tracking", Model.MediaMotiveData); }
        @{ Html.RenderPartial("Partials/MediaMotive/_Teads", Model.MediaMotiveData); }
    </div>

    <header>
        <h1 class="article__heading">@Model.Headline</h1>
        @{Html.RenderPartial("Partials/ContentSections/_Pricing", Model);}
        <h2 class="article__subheading">@Model.SubHeading</h2>
    </header>
    <div class="article__summary">@Model.Summary</div>
    @{ Html.RenderPartial("Partials/_ArticleBody", Model); }
    @{ Html.RenderPartial("Partials/_Contributors", Model); }
    @{ Html.RenderPartial("Partials/MediaMotive/_Tile15", Model.MediaMotiveData); }
    @{ Html.RenderPartial("Partials/_Disqus", Model.DisqusData); }
    @{ Html.RenderPartial("Partials/MediaMotive/_Tracking", Model.MediaMotiveData); }
    
    if (@Model.ArticleType.ToLower() == "news" || @Model.ArticleType.ToLower() == "review")
    {
        @{ Html.RenderPartial("Partials/MediaMotive/_Teads", Model.MediaMotiveData); }
    }

</div>


