@using Csn.Retail.Editorial.Web.Features.DisplayAds.Models
@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds
@using Csn.Retail.Editorial.Web.Features.Shared.Models

@if (Model.DisplayAdsSource == DisplayAdsSource.MediaMotive)
{
    var mmModel = (MediaMotiveAdViewModel) Model;

    <div id="Tile@(mmModel.TileId)"
         class="mediamotive-block mediamotive-@mmModel.Description.ToLower() mediamotive-block--loading"
         data-krux-required="@mmModel.DataKruxRequired.ToString().ToLower()"
         data-media-motive-url="@mmModel.ScriptUrl">
        @if (!string.IsNullOrEmpty(mmModel.NoScriptImageUrl))
        {
            <span class="loader"></span>
            <noscript>
                <a target="_blank" href="@mmModel.NoScriptUrl">
                    <img src="@mmModel.NoScriptImageUrl" width="@mmModel.Width" height="@mmModel.Height" border="0" alt="Advertisement" />
                </a>
            </noscript>
        }
    </div>
}

@if (Model.DisplayAdsSource == DisplayAdsSource.GoogleAds)
{
    var gaModel = (GoogleAdsViewModel)Model;

    <div id="@gaModel.AdSlotId"
         data-ad-network-code="@gaModel.AdNetworkCode"
         data-ad-unit-id="@gaModel.AdUnitId"
         data-ad-dimensions="@gaModel.Dimensions"
         class="googleads-block googleads-@gaModel.Description.ToLower()">
    </div>
}