@model Csn.Retail.Editorial.Web.Features.Details.Models.EditorialExpertRating

<div class="expert-ratings">
    <h2 class="expert-ratings__heading">@Model.Heading</h2>
    <div class="expert-ratings__overall-rating">
        <div class="expert-ratings__overall-rating-graph overall-rating-graph" id="overall-rating-graph" data-overall-rating="@Model.OverallRating"></div>
    </div>
    <h3 class="expert-ratings__subheading">@Model.SubHeading</h3>

    @foreach (var item in Model.Items)
    {
        <p class="expert-ratings__meter-label">@item.Category</p>
        <meter class="expert-ratings__meter" value="0" min="0" max="20" data-value="@item.Rating">@item.Rating</meter>
    }

</div>
