@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

<div class="clearfix hero hero--imageAndVideo">
    <div class="brightcove">
        <div class="brightcove__iframe-wrapper">
            <iframe src="@Model.BrightcoveVideoIFrameUrl" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
        </div>
    </div>
    <div class="slideshow slideshow--hero slideshow--image-video">
        <div class="slideshow__container  swiper-container">
            <div class="slideshow__slides swiper-wrapper">
                @{ var index = 0; }
                @foreach (var image in Model.Images.Take(4))
                {
                    <div class="slideshow__slide swiper-slide">
                        <a href="@Url.Action("Images", "Details", new {imageIndex = index})" data-modal-trigger data-modal-type="slideshow">

                            <img class="slideshow__image"
                                 sizes="100vw"
                                 src="@image.Url?width=1024&height=683"
                                 srcset="@image.Url?width=1024&height=683 2048w, @image.Url?width=768&height=512 1536w, @image.Url?width=512&height=341 1024w, @image.Url?width=384&height=256 768w"
                                 alt="@image.AlternateText"/>
                        </a>
                    </div>
                    index++;
                }
                @foreach (var image in Model.Images.Skip(4))
                {
                    <div class="slideshow__slide swiper-slide">
                        <a href="@Url.Action("Images", "Details", new {imageIndex = index})" data-modal-trigger data-modal-type="slideshow">

                            <img class="slideshow__image"
                                 data-src="@image.Url?width=1024&height=683"
                                 data-srcset="@image.Url?width=1024&height=683 2048w, @image.Url?width=768&height=512 1536w, @image.Url?width=512&height=341 1024w, @image.Url?width=384&height=256 768w"
                                 sizes="100vw"
                                 alt="@image.AlternateText"/>
                        </a>
                    </div>
                    index++;
                }
            </div>
            <button class="slideshow__nav slideshow__nav--prev" type="button" data-direction="prev">prev</button>
            <button class="slideshow__nav slideshow__nav--next" type="button" data-direction="next">next</button>

            <a class="slideshow__view-photos" href="@Url.Action("Images", "Details", new {imageIndex = 0})" data-modal-trigger data-modal-type="slideshow">View Photos</a>
        </div>
    </div>
</div>
@{ Html.RenderPartial("Partials/Modal/_Modal"); }
@{ Html.RenderPartial("Partials/Modal/_slideshowModal"); }


