@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
    var videosApiUrl = Html.VideosApiSettings().Url;
}

<div class="clearfix hero hero--wideVideo">
    <div class="hero__video-frame">
        <div class="hero__video-container">
            <video class="hero__video-player" muted="true" loop="true" playsinline="true" preload="auto" autoplay>
                <source src="@Model.BrightcoveVideo.EncodingUrl" type="video/mp4" />
            </video>
        </div>
    </div>
    
    <div class="hero__content">
        <div class="container">
            <header class="hero__header-container">
                <h1 class="hero__heading">@Model.Headline</h1>
            </header>
            <div class="hero__playbutton-container">
                <div data-video-id="@Model.BrightcoveVideo.VideoId" data-player-id="@Model.BrightcoveVideo.PlayerId" data-videos-api-url="@videosApiUrl" data-article-id="@Model.NetworkId" data-service="@tenantName" class="hero__playbutton">
                    Watch Video
                </div>
            </div>
            <div class="hero__action"></div>
        </div>

    </div>
</div>

<div class="fullherovideo fullherovideo--wrap fullherovideo--wrap-hide">
    <div class="fullherovideo__inner">
        <div class="fullherovideo__container"></div>

        <button class="fullherovideo__action-close">
        </button>
    </div>
</div>
