@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

<div class="clearfix hero hero--wideImage" >
    
    <div class="hero__frame">
        @{ var index = 0; }
        @foreach (var image in Model.Images.Take(1))
        {
            <img class="hero__frame-image"
                 sizes="(max-width: 1199px) 617px, 825px"
                 src="@image.Url"
                 srcset="@image.Url&width=1600&height=1060 1600w, @image.Url&width=1920&height=1280 1920w"
                 alt="@image.AlternateText" /> 
        }
    </div>
    <div class="hero__content">
        <div class="container">
            <header class="hero__header-container">
                <h1 class="hero__heading">@Model.Headline</h1>
                <h2 class="hero__subheading">@Model.SubHeading</h2>
            </header>
            <div class="hero__action"></div>
        </div>

    </div>

</div>
