@using System.ComponentModel
@using Csn.Retail.Editorial.Web.Features.Landing.Models
@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Newtonsoft.Json
@using React.Web.Mvc
@model LandingViewModel

@section Head{
}

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
}

@section Styles {
    @Html.AssetCss("landing-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("landing.vendor", LoadType.Defer)
    @Html.AssetJs("landing-page--" + tenantName, LoadType.Defer)
    @Html.AssetJs("csn.mediaMotive--" + tenantName, LoadType.Defer)
}

<div class="landing-page">
    @*Header*@
    @Html.React("global.Components.INav", new {state = Model.Nav}, containerId: "iNav")

    <div class="main container-fluid">
        @foreach (var carousel in Model.Carousels)
        {
            Html.RenderPartial("~/Features/Landing/Views/Partials/_Carousel.cshtml", carousel);
        }
    </div>
</div>
<script>
       
    //Stub of serverside rendering data for Redux
    var __PRELOADED_STATE__store = {
        landing: {
            categories: {
                featured: {
                    hasMrec: true,
                    results: [
                        {
                            disqusArticleId: 'EDITORIAL-110025',
                            headline: 'LA MOTOR SHOW: Chevrolet drops Corvette ZR1\'s top',
                            subHeading: 'First Corvette ZR1 convertible since 1970 revealed; could come Down Under',
                            imageUrl:
                                'https://carsales.pxcrush.net/general/editorial/LA17-Chevrolet-Corvette-ZR1-1.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl:
                                '/editorial/details/la-motor-show-chevrolet-drops-corvette-zr1s-top-110025/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-109976',
                            headline: 'Best family car under $30K 2017 video: Hyundai i30',
                            subHeading: 'Hyundai’s popular small car becomes a family favourite',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Hyundai-i30-coty-vidoe-icon.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl:
                                '/editorial/details/best-family-car-under-30k-2017-video-hyundai-i30-109976/',
                            label: null,
                            type: 'Video'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110024',
                            headline: 'Lamborghini Urus gets a sneak preview',
                            subHeading: 'Italian marque’s incoming SUV promises pace - and a speedy design',
                            imageUrl:
                                'https://carsales.pxcrush.net/general/editorial/screen-shot-2017-11-29-at-16.26.20.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/lamborghini-urus-gets-a-sneak-preview-110024/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110023',
                            headline: 'LA MOTOR SHOW: Jeep confirms Wrangler hybrid',
                            subHeading: 'Petrol-electric plug-in off-roader set for 2020 launch',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-Sahara-044.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-jeep-confirms-wrangler-hybrid-110023/',
                            label: null,
                            type: 'News'
                        },
                        {
                            imageUrl:
                                '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59b9e5f2f4f5605d76a173c6?v=8f501&w=300',
                            headline: 'Smart second-hand car buying',
                            subHeading: 'Protect yourself with these tips when buying your car',
                            dateAvailable: 'September 13th',
                            articleDetailsUrl:
                                'https://www.carsales.com.au/editorial/details/budgeting-for-post-purchase-costs-108798/?utm_campaign=branded_content_amp_13930_BudgetDirect_Sept17&utm_medium=polar&utm_source=desktop',
                            label: 'Sponsored',
                            type: 'Promoted',
                            location: 4
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110018',
                            headline: 'LA MOTOR SHOW: Behind the design of the new Jeep Wrangler',
                            subHeading:
                                'Jeep design guru Mark Allen provides a look into the exterior design of the all-new Wrangler',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-exterior.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl:
                                '/editorial/details/la-motor-show-behind-the-design-of-the-new-jeep-wrangler-110018/',
                            label: null,
                            type: 'Video'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110017',
                            headline: 'LA MOTOR SHOW: BMW i8 Roadster revealed',
                            subHeading: 'Facelifted i8 boasts added power and cosmetic tweaks for 2018',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/image163449_b.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-bmw-i8-roadster-revealed-110017/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-109898',
                            headline: 'My favourite road – the Mercedes-AMG GT S',
                            subHeading:
                                'No racetracks, no-nonsense: just the AMG GT S on one of the country’s best ribbons of tarmac',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/AMG-GT-S-sam-road-drive.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/my-favourite-road-the-mercedes-amg-gt-s-109898/',
                            label: null,
                            type: 'Video'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110016',
                            headline: 'LA MOTOR SHOW: Porsche confirms 911 hybrid!',
                            subHeading: 'It\'s official: high-performance model will be part of next-gen 992 range',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/IMG_8597.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-porsche-confirms-911-hybrid-110016/',
                            label: null,
                            type: 'News'
                        },
                        {
                            imageUrl:
                                '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59efd7b420e7294e36458b1d?v=93d8c&w=300',
                            headline: 'Autonomous cars explained',
                            subHeading: 'Driverless cars are coming but how do they work and are they safe?',
                            dateAvailable: 'September 13th',
                            articleDetailsUrl:
                                'https://www.carsales.com.au/editorial/details/faqs-autonomy-and-what-it-means-to-you-109495/?utm_campaign=branded_content_amp_17553_iselect&utm_medium=polar&utm_source=desktop',
                            label: 'Promoted',
                            type: 'Promoted',
                            location: 9
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110019',
                            headline: 'LDV D90 now on sale',
                            subHeading:
                                'Commercial-vehicle underpinnings aside, new SUV delivers advanced technology for an affordable price',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/D90Luxe.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/ldv-d90-now-on-sale-110019/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110013',
                            headline: 'LA MOTOR SHOW: Sizzling new Mazda6',
                            subHeading: 'Turbo power boost for sleeker, quieter, more lavish mid-size sedan',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/new-mazda6-005.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-sizzling-new-mazda6-110013/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-109979',
                            headline: 'LA MOTOR SHOW: Mercedes reinvents CLS',
                            subHeading: 'Array of high-tech new inline sixes to strengthen Mercedes-Benz’s MkIII CLS',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Mercedes-Benz-CLS_050.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-mercedes-reinvents-cls-109979/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110021',
                            headline: 'LA MOTOR SHOW: Get a close up look inside the new Wrangler',
                            subHeading:
                                'Ryan Patrick Joyce lets slip a few secrets on the interior design of the new Jeep Wrangler',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-interior.jpg',
                            dateAvailable: 'November 30th',
                            articleDetailsUrl:
                                '/editorial/details/la-motor-show-get-a-close-up-look-inside-the-new-wrangler-110021/',
                            label: null,
                            type: 'Video'
                        },
                        {
                            imageUrl:
                                '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59e92f660f43afc453499514?v=a06b4&w=80',
                            headline: 'Holden: Then and Now',
                            subHeading: 'Take a trip back in time to 1984',
                            dateAvailable: 'October 20th',
                            articleDetailsUrl:
                                'https://www.motoring.com.au/holden-caprice-v-wn-series-ii-video-review-109456/?utm_campaign=ContentCards&utm_medium=Native&utm_source=carsales',
                            label: 'Promoted',
                            type: 'Promoted',
                            location: 14
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110014',
                            headline: 'Alfa Romeo returns to F1',
                            subHeading: 'Born-again Italian brand saddles up for Formula 1 with Sauber',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/SeanBullAlfaSauberF1.jpg',
                            dateAvailable: 'November 29th',
                            articleDetailsUrl: '/editorial/details/alfa-romeo-returns-to-f1-110014/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110010',
                            headline: 'LA MOTOR SHOW: New Jeep Wrangler revealed',
                            subHeading: 'Australia to get mix and match off-roader late 2018',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-P018_Wrangler-Group-002.jpg',
                            dateAvailable: 'November 29th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-new-jeep-wrangler-revealed-110010/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110011',
                            headline: 'Jaguar XE SV Project 8 claims new Nurburgring lap record',
                            subHeading: 'The Leaping Cat has pounced into the sedan record books',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/image163371_b.jpg',
                            dateAvailable: 'November 29th',
                            articleDetailsUrl:
                                '/editorial/details/jaguar-xe-sv-project-8-claims-new-nurburgring-lap-record-110011/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110008',
                            headline: 'ANCAP issue looms for 2018 Jeep Wrangler',
                            subHeading: 'AEB needs to be added if Jeep wants to test for five stars\n\n',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-P018_Wrangler-Group-211.jpg',
                            dateAvailable: 'November 29th',
                            articleDetailsUrl: '/editorial/details/ancap-issue-for-2018-wrangler-110008/',
                            label: null,
                            type: 'News'
                        },
                        {
                            disqusArticleId: 'EDITORIAL-110009',
                            headline: 'LA MOTOR SHOW: Infiniti QX50 touches down',
                            subHeading: 'Crucial new model takes the stage in tinsel town',
                            imageUrl: 'https://carsales.pxcrush.net/general/editorial/Infiniti_QX50_003.jpg',
                            dateAvailable: 'November 29th',
                            articleDetailsUrl: '/editorial/details/la-motor-show-infiniti-qx50-touches-down-110009/',
                            label: null,
                            type: 'News'
                        }
                    ],
                },
                reviews: {
                    hasMrec: false,
                    results:  [
                    {
                        disqusArticleId: 'EDITORIAL-110025',
                        headline: 'LA MOTOR SHOW: Chevrolet drops Corvette ZR1\'s top',
                        subHeading: 'First Corvette ZR1 convertible since 1970 revealed; could come Down Under',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/LA17-Chevrolet-Corvette-ZR1-1.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-chevrolet-drops-corvette-zr1s-top-110025/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-109976',
                        headline: 'Best family car under $30K 2017 video: Hyundai i30',
                        subHeading: 'Hyundai’s popular small car becomes a family favourite',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Hyundai-i30-coty-vidoe-icon.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/best-family-car-under-30k-2017-video-hyundai-i30-109976/',
                        label: null,
                        type: 'Video'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110024',
                        headline: 'Lamborghini Urus gets a sneak preview',
                        subHeading: 'Italian marque’s incoming SUV promises pace - and a speedy design',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/screen-shot-2017-11-29-at-16.26.20.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/lamborghini-urus-gets-a-sneak-preview-110024/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110023',
                        headline: 'LA MOTOR SHOW: Jeep confirms Wrangler hybrid',
                        subHeading: 'Petrol-electric plug-in off-roader set for 2020 launch',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-Sahara-044.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-jeep-confirms-wrangler-hybrid-110023/',
                        label: null,
                        type: 'News'
                    },
                    {
                        imageUrl: '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59b9e5f2f4f5605d76a173c6?v=8f501&w=300',
                        headline: 'Smart second-hand car buying',
                        subHeading: 'Protect yourself with these tips when buying your car',
                        dateAvailable: 'September 13th',
                        articleDetailsUrl: 'https://www.carsales.com.au/editorial/details/budgeting-for-post-purchase-costs-108798/?utm_campaign=branded_content_amp_13930_BudgetDirect_Sept17&utm_medium=polar&utm_source=desktop',
                        label: 'Sponsored',
                        type: 'Promoted',
                        location: 4
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110018',
                        headline: 'LA MOTOR SHOW: Behind the design of the new Jeep Wrangler',
                        subHeading: 'Jeep design guru Mark Allen provides a look into the exterior design of the all-new Wrangler',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-exterior.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-behind-the-design-of-the-new-jeep-wrangler-110018/',
                        label: null,
                        type: 'Video'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110017',
                        headline: 'LA MOTOR SHOW: BMW i8 Roadster revealed',
                        subHeading: 'Facelifted i8 boasts added power and cosmetic tweaks for 2018',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/image163449_b.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-bmw-i8-roadster-revealed-110017/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-109898',
                        headline: 'My favourite road – the Mercedes-AMG GT S',
                        subHeading: 'No racetracks, no-nonsense: just the AMG GT S on one of the country’s best ribbons of tarmac',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/AMG-GT-S-sam-road-drive.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/my-favourite-road-the-mercedes-amg-gt-s-109898/',
                        label: null,
                        type: 'Video'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110016',
                        headline: 'LA MOTOR SHOW: Porsche confirms 911 hybrid!',
                        subHeading: 'It\'s official: high-performance model will be part of next-gen 992 range',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/IMG_8597.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-porsche-confirms-911-hybrid-110016/',
                        label: null,
                        type: 'News'
                    },
                    {
                        imageUrl: '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59efd7b420e7294e36458b1d?v=93d8c&w=300',
                        headline: 'Autonomous cars explained',
                        subHeading: 'Driverless cars are coming but how do they work and are they safe?',
                        dateAvailable: 'September 13th',
                        articleDetailsUrl: 'https://www.carsales.com.au/editorial/details/faqs-autonomy-and-what-it-means-to-you-109495/?utm_campaign=branded_content_amp_17553_iselect&utm_medium=polar&utm_source=desktop',
                        label: 'Promoted',
                        type: 'Promoted',
                        location: 9
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110019',
                        headline: 'LDV D90 now on sale',
                        subHeading: 'Commercial-vehicle underpinnings aside, new SUV delivers advanced technology for an affordable price',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/D90Luxe.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/ldv-d90-now-on-sale-110019/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110013',
                        headline: 'LA MOTOR SHOW: Sizzling new Mazda6',
                        subHeading: 'Turbo power boost for sleeker, quieter, more lavish mid-size sedan',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/new-mazda6-005.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-sizzling-new-mazda6-110013/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-109979',
                        headline: 'LA MOTOR SHOW: Mercedes reinvents CLS',
                        subHeading: 'Array of high-tech new inline sixes to strengthen Mercedes-Benz’s MkIII CLS',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Mercedes-Benz-CLS_050.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-mercedes-reinvents-cls-109979/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110021',
                        headline: 'LA MOTOR SHOW: Get a close up look inside the new Wrangler',
                        subHeading: 'Ryan Patrick Joyce lets slip a few secrets on the interior design of the new Jeep Wrangler',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-Wrangler-interior.jpg',
                        dateAvailable: 'November 30th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-get-a-close-up-look-inside-the-new-wrangler-110021/',
                        label: null,
                        type: 'Video'
                    },
                    {
                        imageUrl: '//meraxes-cdn.polarmobile.com/image/v1.0.0/bin/59e92f660f43afc453499514?v=a06b4&w=80',
                        headline: 'Holden: Then and Now',
                        subHeading: 'Take a trip back in time to 1984',
                        dateAvailable: 'October 20th',
                        articleDetailsUrl: 'https://www.motoring.com.au/holden-caprice-v-wn-series-ii-video-review-109456/?utm_campaign=ContentCards&utm_medium=Native&utm_source=carsales',
                        label: 'Promoted',
                        type: 'Promoted',
                        location: 14
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110014',
                        headline: 'Alfa Romeo returns to F1',
                        subHeading: 'Born-again Italian brand saddles up for Formula 1 with Sauber',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/SeanBullAlfaSauberF1.jpg',
                        dateAvailable: 'November 29th',
                        articleDetailsUrl: '/editorial/details/alfa-romeo-returns-to-f1-110014/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110010',
                        headline: 'LA MOTOR SHOW: New Jeep Wrangler revealed',
                        subHeading: 'Australia to get mix and match off-roader late 2018',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-P018_Wrangler-Group-002.jpg',
                        dateAvailable: 'November 29th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-new-jeep-wrangler-revealed-110010/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110011',
                        headline: 'Jaguar XE SV Project 8 claims new Nurburgring lap record',
                        subHeading: 'The Leaping Cat has pounced into the sedan record books',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/image163371_b.jpg',
                        dateAvailable: 'November 29th',
                        articleDetailsUrl: '/editorial/details/jaguar-xe-sv-project-8-claims-new-nurburgring-lap-record-110011/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110008',
                        headline: 'ANCAP issue looms for 2018 Jeep Wrangler',
                        subHeading: 'AEB needs to be added if Jeep wants to test for five stars\n\n',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Jeep-P018_Wrangler-Group-211.jpg',
                        dateAvailable: 'November 29th',
                        articleDetailsUrl: '/editorial/details/ancap-issue-for-2018-wrangler-110008/',
                        label: null,
                        type: 'News'
                    },
                    {
                        disqusArticleId: 'EDITORIAL-110009',
                        headline: 'LA MOTOR SHOW: Infiniti QX50 touches down',
                        subHeading: 'Crucial new model takes the stage in tinsel town',
                        imageUrl: 'https://carsales.pxcrush.net/general/editorial/Infiniti_QX50_003.jpg',
                        dateAvailable: 'November 29th',
                        articleDetailsUrl: '/editorial/details/la-motor-show-infiniti-qx50-touches-down-110009/',
                        label: null,
                        type: 'News'
                    }
                    ]
                }
            }
        }
    }

</script>

@section BottomScripts
{
    @Html.React("global.Components.INavPreloadedState", new {state = Model.Nav}, containerId: "INavPreloadedState")
    @Html.React("global.Components.CarouselPreloadedState", new { state = Model.Carousels }, containerId: "CarouselPreloadedState")
}