@using System.ComponentModel
@using Csn.Retail.Editorial.Web.Features.Landing.Models
@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Newtonsoft.Json
@using React.Web.Mvc
@model LandingViewModel

@section Head{
}

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
}

@section Styles {
    @Html.AssetCss("landing-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("landing.vendor", LoadType.Defer)
    @Html.AssetJs("landing-page--" + tenantName, LoadType.Defer)
    @Html.AssetJs("csn.mediaMotive--" + tenantName, LoadType.Defer)
}

<div class="landing-page">
    @*Header*@
    @Html.React("global.Components.INav", new {state = Model.Nav}, containerId: "iNav")

    <div class="main container-fluid">
        @foreach (var carousel in Model.Carousels)
        {
            Html.RenderPartial("~/Features/Landing/Views/Partials/_Carousel.cshtml", carousel);
        }
    </div>
</div>

@section BottomScripts
{
    @Html.React("global.Components.INavPreloadedState", new {state = Model.Nav}, containerId: "INavPreloadedState")
    @Html.React("global.Components.CarouselPreloadedState", new { state = Model.Carousels }, containerId: "CarouselPreloadedState")
}