@model Csn.Retail.Editorial.Web.Features.Shared.Models.SearchEngineData

<title>@Model.Title</title>
<meta name="description" content="@Model.Description" />
<meta name="keywords" content="@Model.Keywords"/>

<link rel="canonical" href="@Model.Canonical"/>
<link rel="alternate" media="@Model.Alternate.Media" href="@Model.Alternate.Href" />