@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

<div class="_c-slideshow _c-slideshow--modal" data-slideshow-modal>
    <div class="_c-slideshow__slider">
        <ul class="_c-slideshow__slides">
            @foreach (var image in Model.Images)
            {
                <li class="_c-slideshow__slide">
                    @* TODO: What sizes are we targeting? *@
                    <img class="_c-slideshow__image"
                         srcset="@image.Url?width=1440 1440w, @image.Url?width=1280 1280w, @image.Url?width=960 960w"
                         sizes="100vw"
                         src="@image.Url"
                         alt="@image.AlternateText"/>
                </li>
            }
        </ul>
    </div>
    <button class="_c-slideshow__nav _c-slideshow__nav--prev" type="button" data-direction="prev">prev</button>
    <button class="_c-slideshow__nav _c-slideshow__nav--next" type="button" data-direction="next">next</button>
</div>
