@using Csn.Retail.Editorial.Web.Infrastructure.React.Models
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions
@using Newtonsoft.Json
@using React.Web.Mvc
@model object



@{
    var tenantName = Html.CurrentTenant().Name.ToLower();

}

@section Styles {
    @Html.AssetCss("listings-page--" + tenantName)
}


@section TopScripts {
    @Html.AssetJs("listings.vendor", LoadType.Defer)
    @Html.AssetJs("listings-page--" + tenantName, LoadType.Defer)
}

@Html.React("global.Components.INav", new { state = Model }, containerId: "iNav")

<div class="container">

    @*//State is required b/c there is no guarentee that it will be available for other components*@
    @Html.React("global.Components.INavBreadCrumbs", new { state = Model }, containerId: "iNavBreadcrumbs")
    @Html.React("global.Components.INavSearchResults", new { state = Model }, containerId: "iNavSearchResults")

 
</div>


@section BottomScripts
{
    @{
    //Store - you have to manually request what part of the store you want b/c there is no guartee the data will be there from the components rendered earlier
    Html.RenderPartial("Partials/Redux/_ReduxStore", new ReduxStoreModel()
    {
        ReducerKey = "iNav",
        ReducerName = "iNavParentReducerPassInitData",
        State = Model
    });

    }    
}
