@using Csn.Retail.Editorial.Web.Features.Listings.Models
@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using React.Web.Mvc
@model ListingsViewModel

@section Head{
    <meta name="robots" content="noindex">
}

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
}

@section Styles {
    @Html.AssetCss("listings-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("listings.vendor", LoadType.Defer)
    @Html.AssetJs("listings-page--" + tenantName, LoadType.Defer)
    @Html.AssetJs("csn.mediaMotive--" + tenantName, LoadType.Defer)

}
<div class="listing-page">
    @Html.React("global.Components.INav", new { state = Model.NavResults }, containerId: "iNav")

    <div class="container">

        <div class="main">
            @Html.React("global.Components.INavArticleCount", new {state = Model.NavResults }, containerId: "iNavArticleCount")
            @*@Html.React("global.Components.INavBreadCrumbs", new {state = Model.NavResults }, containerId: "iNavBreadcrumbs")*@
            @Html.React("global.Components.INavSearchResults", new {state = Model.NavResults }, containerId: "iNavSearchResults")
        
            @{ Html.RenderPartial("_Disclaimer"); }
        </div>
        @*@{Html.RenderPartial("Partials/_Aside");}*@
    </div>
</div>

@section BottomScripts
{
    @Html.React("global.Components.INavPreloadedState", new {state = Model.NavResults}, containerId: "INavPreloadedState")
    @if (Model.PolarNativeAdsData != null)
    {
        Html.RenderPartial("Partials/PolarNativeAds/_PolarNativeAds", Model.PolarNativeAdsData);
    }    
    @{Html.RenderPartial("Partials/MediaMotive/_Krux");}
}