@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@section Head {
    @{Html.RenderPartial("Partials/Head/_SocialMetaData", Model); }
}

@section Styles {
    @Html.AssetCss("details-page")
}


@section TopScripts {
}

<article>
    @{ Html.RenderPartial("Partials/Hero/_Hero", Model.HeroSection); }
<<<<<<< HEAD
    <div class="container">
        @{ Html.RenderPartial("Partials/_Main"); }
        @{ Html.RenderPartial("Partials/_Aside"); }
    </div>
</article>

@section BottomScripts
{
    @Html.AssetJs("details-page")
}
=======
</div>
<div class="main-panel">
    <h1>@Model.Headline</h1>
    @{ Html.RenderPartial("Partials/_Main", Model); }
    <h2 class="article__subheading">@Model.SubHeading</h2>

    <div class="article__summary">@Model.Summary</div>

    @{Html.RenderPartial("Partials/_Contributors", Model);}

</div>
<div class="side-panel"></div>
>>>>>>> origin/master
