@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@if (Model?.Contributors != null && Model.Contributors.Any())
{
    <div class="container">
        <div class="article__authors cf" data-webm-section="author-info">
            @foreach (var contributor in Model.Contributors)
            {
                <div class="author">
                    <div class="author__image">
                        <img src="@contributor.ImageUrl" alt=""/>
                    </div>
                    <div class="author__details">
                        <div class="author__description">@contributor.Description</div>
                        <div class="author__name">@contributor.Name</div>
                        @*<div class="author__title">Author Title</div>*@
                        <a class="author__links" href="@contributor.LinkUrl" data-webm-clickvalue="see-all-editor-articles">@contributor.ButtonHeading</a>
                    </div>

                </div>

            }
            @{ Html.RenderPartial("Partials/Widgets/AlsoConsider/_AlsoConsider", Model); }
        </div>
    </div>
}