@model Csn.Retail.Editorial.Web.Features.Details.Models.SponsoredArticle


<div class="article__type article__type--sponsored" data-description="<h2>@Model.DescriptionHeading</h2><p>@Model.DescriptionText</p><p><a href='@Model.DescriptionUrl' target='_blank'>@Model.DescriptionUrlText</a></p>">
    @Model.Label
</div>