@using Csn.Retail.Editorial.Web.Features.Shared.GlobalSite
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions

@{
    Layout = "_LayoutEmpty.cshtml";
    var globalSiteData = Html.GlobalSiteData();
    var tenantName = Html.CurrentTenant().Name.ToLower();
    var googleAnalyticTracking = Html.GoogleAnalyticsScript();

}

@section Head{
    @RenderSection("Head", false)
}

@section Styles{
    @globalSiteData.Style.ToMvcHtmlString()
    @Html.AssetCss("csn.common--" + tenantName)
    @RenderSection("Styles", false)
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://resource.csnstatic.com/carsales/globals/css/fonts-V1.base64.min.css">    
    </noscript>

}
@section TopScripts{
    @Html.AssetJs("csn.common--" + tenantName, LoadType.Defer)
    @RenderSection("TopScripts", false)

}


@globalSiteData.TopNav.ToMvcHtmlString()


<div class="page-container">
    @RenderBody()
</div>

<footer id="page-footer">
    @globalSiteData.Footer.ToMvcHtmlString()
</footer>

@section BottomScripts{
    @Html.AssetJs("manifest--" + tenantName)
    @Html.AssetJs("vendor--" + tenantName)
    @RenderSection("BottomScripts", false)

    <script>
        var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>

    @globalSiteData.Script.ToMvcHtmlString()
    @googleAnalyticTracking.TrackingScript.ToMvcHtmlString()
}