@using Csn.Retail.Editorial.Web.Features.Shared.GlobalSite
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions

@{
    Layout = "_LayoutEmpty.cshtml";
    var globalSiteData = Html.GlobalSiteData();
    var tenantName = Html.CurrentTenant().Name.ToLower();

}

@section Head{
    @RenderSection("Head", false)
}

@section Styles{
    <link rel="stylesheet" href="https://resource.csnstatic.com/carsales/globals/css/fonts-V1.base64.min.css">
    @Html.AssetCss("csn.common--" + tenantName)
    @globalSiteData.Style.ToMvcHtmlString()
    @RenderSection("Styles", false)


}
@section TopScripts{
    @RenderSection("TopScripts", false)
}


@globalSiteData.TopNav.ToMvcHtmlString()


<div class="page-container">
    @RenderBody()
</div>

<footer id="page-footer">
    @globalSiteData.Footer.ToMvcHtmlString()
</footer>

@section BottomScripts{
    @Html.AssetJs("vendor")
    @Html.AssetJs("csn.common--" + tenantName, LoadType.Defer)
    @RenderSection("BottomScripts", false)
    @globalSiteData.Script.ToMvcHtmlString()
}

